

/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    img{
        max-width: 100%;
    }

    /* COLORS */
    :root{
        --hero-blue:rgb(180 208 230);
    }
    
    /* COMMON */
    .container{
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .small-cont{
        width: 60%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .flex-cont{
        display: flex;
    }

    /* BUTTONS */
    .btn{
        text-decoration: none;
        font-size: 1.2rem;
        padding: .3em;
        font-family: sans-serif;
        display: inline-block;
    }

    .btn-blue{
        background-color: blue;
        color: white;
    }
    
    .btn-light{
        background-color: white;
        color: black;
        border: 1px solid black;
        
    }

    /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 15px;
    }


    header a{
        text-decoration: none;
        color: rgb(105, 105, 105);
        font-size: 16px;
        font-family: sans-serif;
    }



    header .flex-cont{
        justify-content: space-between;
        width: 100%;
    }

    .head-end{
        align-self: center;
        
    }

    .head-end .flex-cont{
        align-items: center;
        gap: 25px;
    }

    .head-start a{
        align-self: center;
    }

    .head-start{
        /* line-height: 100px; */
        display: flex;
        gap: 15px;
        align-items: center;
    }
  

    /* HERO */

    .f-right{
        float: right;
        width: 660px;
        height: 350px;
        
    }

    .hero{
        background-color: var(--hero-blue);
        padding: 20px;
    }

    .hero p{
        padding: 15px 0;
    }

    .hero i{
        font-size: 30px;
        margin: 15px 5px;
    }

    /* BUSINESS TOP */

    .busi-top{
        margin-top: 150px;
    }

    .busi-top .fatt{
        margin: 20px;
    }

    .busi-top .fatturaz{
        position: relative;
        top: -5px;
    }

    .card{
        width: 30%;
  
    }

    .card-head{
        width: 100%;
        margin: 0;
    }

    .bot-card{
        width: 100%;
        margin: 15px 0;
    }

    .just{
        justify-content:space-between;
        width: 100%;
    }


    /* FIND PARTNER  */

    .find-part{
        margin: 25px 0;
    }

    .find-text{
        margin: 25px 15px;
    }

    .find-text p{
        margin: 15px 0;
    }

    .find-text .btn{
        margin-top: 50px;
    }

    /* DROPBOX BUSINESS */

    .card-busi{
        width: 30%; 
    }

    .wrap{
        flex-wrap: wrap;
        gap: 20px;
    }
    .link{
        margin: 25px 0;
        padding: 25px 0;
    }

    .tito{
        margin: 100px 0 25px 0;
        font-size: 40px;
        font-weight: bold;
        font-family: sans-serif;
    }

    /* FOOTER */

    footer{
        margin-top:25px;
        background-color: black;
        color: white;
    }

    .foot-list{
        margin: 25px 10px;
        padding: 100px 0;
        width: 30%;
        list-style: none;
        font-family: sans-serif;
    }

    .foot-list li{
        padding: 5px;
    }

    .foot-list a{
        text-decoration: none;
        color: inherit;
    }

    .foot-head{
        font-size: 1.3rem;
    }

    .foot-cont{
        font-size: 1rem;    
        margin-top: 5px;
    }








    /* PROVA RADIO from Internet */
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }