

/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    img{
        max-width: 100%;
    }

    /* COLORS */
    :root{
        --hero-blue:rgb(180 208 230);
    }
    
    /* COMMON */
    .container{
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .small-cont{
        width: 30%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .flex-cont{
        display: flex;
    }

    /* BUTTONS */
    .btn{
        text-decoration: none;
        font-size: 1.2rem;
        padding: .3em;
    }

    .btn-blue{
        background-color: blue;
        color: white;
    }
    
    /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        line-height: 50px;
        padding: 15px;
    }


    header a{
        text-decoration: none;
        color: black;
    }


    header img{
        margin-right: 10px;
        margin-top: 10px;
    }

    /* HERO */

    .f-right{
        float: right;
        width: 660px;
        height: 350px;
        
    }

    .hero{
        background-color: var(--hero-blue);
        padding: 20px;
    }

    .hero p{
        padding: 15px;
    }

    /* BUSINESS TOP */

    .busi-top{
        margin-top: 150px;
    }

    .busi-top .fatt{
        margin: 20px;
    }

    .card{
        width: 30%;
        margin: 10px 20px;
    }

    .bot-card{
        width: 100%;
    }

    .just{
        justify-content:space-between;
        width: 100%;
    }