

/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    img{
        max-width: 100%;
    }

    /* COLORS */
    :root{
        --hero-blue:rgb(180 208 230);
    }
    
    /* COMMON */
    .container{
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    /* BUTTONS */
    .btn{
        text-decoration: none;
        font-size: 1.2rem;
        padding: .5em;
    }
    
    /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        line-height: 50px;
        padding: 15px;
    }


    header a{
        text-decoration: none;
        color: black;
    }


    header img{
        margin-right: 10px;
        margin-top: 10px;
    }

    /* HERO */

    .f-right{
        float: right;
        width: 500px;
        height: 250px;
    }

    .hero{
        background-color: var(--hero-blue);
        padding: 20px;
    }

    .hero p{
        padding: 15px;
    }